body{
    background-color: #eee;
}

div{
    width: 50%;
    height: 50%;

    border: 2px solid black;

    box-shadow: 4px 4px 8px black;
    background-color: white;

    margin: 5% auto;
}

h2, h3, p {
    text-align: center;

    font-weight: 700;
}

h4{
    margin: 0;
    margin-left: 3%;
}

.cmetrs, .cmetrs2, .cmetrs3{
    visibility: hidden;
}

button:hover{
    cursor: pointer;
    background-color: #2159e3;
    transition: .2s linear;
}

.task_item{
    list-style: square;
}

input{
    margin-left: 3%;

}

input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        
    }


.result{
    text-align: left;
    margin-left: 3%;
}
/*SECOND Block*/



.cyl{
    margin-left: 2%;
}

.table{
    width: 100%;

}
.form{
    text-align: left;
    margin-left: 3%;
}
/*fifth block*/
.math{
    text-align: left;
    margin-left: 3%;
}
